doctype html
html
  head
    meat(charset="utf-8")
    meta(http-equiv='X-UA-Compatible', content='IE=edgechrome=1')
      
    title docker frontend dev sample.
    
    meta(name="description", content="メタディスクリプション")
    meta(name="author", content="著者")
    meta(property="og:title", content="ogタイトル")
    meta(property="og:type", content="article")
    meta(property="og:image", content="http://")
    meta(property="og:url", content="http://")
    meta(property="og:site_name", content="サイト名")
    meta(property="og:description", content="ogディスクリプション")
    meta(property="fb:admins", content="")
      
  body
    div.container
      h1 Hello Docker!
    
      script(type="text/javascript" src="/assets/javascripts/main.js")
